.profileContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 1rem 1rem;
  border-radius: 4px;
  box-shadow: 0 0 60px rgb(0, 0, 0, 0.05);
}

.profileContainer > img {
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
}

.profileContainer div {
  margin-left: 1.5rem;
  text-align: center;
}

.profileContainer div strong {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--title);
}

.profileContainer div p {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.profileContainer div p img {
  margin-right: 0.5rem;
}
